{% extends "base.html" %}

{% block content %}

        <!-- main content -->
        <!-- #Content -->
        <div id="Content">
            <div class="content_wrapper clearfix">

                <!-- .sections_group -->
                <div class="sections_group">

                    <div class="entry-content" itemprop="mainContentOfPage">

                        <div class="section mcb-section" style="padding-top:0px; padding-bottom:0px;">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one  valign-top clearfix" style="background-color:#FFFFFF">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_photo_box ">
                                            <div class="photo_box  without-desc">
                                                <div class="image_frame">
                                                    <div class="image_wrapper">
                                                        <!-- <div class="mask"></div> -->
                                                        <img class="scale" src="/static/images/Group 1.png"
                                                            alt="consular_logo_1" width="200" height="200" />

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="consular-content">
                                    <div class="consular">
                                        <h2 style="color: #9e2a2b; font-weight: 700;">Passport</h2>
                                        <div class="sub-content">
                                            <h4 class="heading-2"> Collection of Biometric Details from New Passport
                                                Applicants</h4>
                                            <p>
                                                The Department of Immigration and Emigration (DIE) will collect
                                                biometric
                                                details (fingerprints) from new passport applicants between the ages of
                                                16
                                                to 60 years applying in Sri Lanka from 15 August 2015 onwards and from
                                                applicants applying through Sri Lanka Missions abroad from 01 January
                                                2018.
                                            </p>

                                            <p>Procedure:</p>

                                            <ul style="padding: 0 2rem;">
                                                <li style="list-style-type: decimal;">
                                                    Those applying for new passports from Sri Lanka Missions abroad will
                                                    be required to provide biometric data to the Department of
                                                    Immigration and Emigration upon his/her first entry to Sri Lanka.
                                                </li>
                                                <li style="list-style-type: decimal;">
                                                    The passport holder is expected to report directly to the Chief
                                                    Immigration Officer (CIO) at the port of entry, to obtain a system
                                                    generated Biometric Data Acquisition (BDA) form with a unique
                                                    reference number, along with guidelines. Sign the BDA in duplicate
                                                    and retain one copy.
                                                </li>
                                                <li style="list-style-type: decimal;">
                                                    Handover the BDA copy to the Overseas Mission (OM) Division of the
                                                    Department of Immigration and Emigration or any of its branch
                                                    offices in person to provide biometric details. No payment is
                                                    required. The estimated time of completion of the biometric
                                                    enrollment process is 45 minutes.
                                                </li>
                                                <li style="list-style-type: decimal;">
                                                    Passport holders are encouraged to reserve a convenient date and
                                                    time through the online appointment scheduling system of the
                                                    Department’s website.
                                                </li>
                                                <li style="list-style-type: decimal;">
                                                    Upon providing biometric data, the Department will issue a system
                                                    generated a receipt to confirm completion of the biometric
                                                    acquisition process, and border control system will be updated to
                                                    allow the departure of the passport holder. No changes will be done
                                                    to the passport.
                                                </li>
                                                <li style="list-style-type: decimal;">
                                                    Facilities will be provided to obtain biometric data of disabled
                                                    persons (only) at the BIA.
                                                </li>
                                                <li style="list-style-type: decimal;">
                                                    It should be noted that departure from Sri Lanka will only be
                                                    allowed upon completion of this requirement.
                                                </li>
                                                <li style="list-style-type: decimal;">
                                                    Therefore, all Sri Lankan passport holders to whom this new process
                                                    will apply are kindly requested to follow the guidelines in order to
                                                    avoid any inconvenience.
                                                </li>
                                            </ul>

                                            <h4 class="heading-2">General Advice to be followed when applying for a New
                                                Passport</h4>

                                            <ul style="padding: 0 2rem;">
                                                <li style="list-style-type: initial;">
                                                    A Passport is valid for TEN YEARS. The validity of the passport
                                                    cannot be extended beyond 10 years from the date of issue. If the
                                                    passport does not have sufficient pages for visa endorsements/ is
                                                    more than 10 years old, a new passport must be obtained.
                                                </li>
                                                <li style="list-style-type: initial;">
                                                    The inclusion of Children in Parents Passport is NO Longer Allowed.
                                                    Children will be issued with Separate Passports.
                                                </li>
                                                <li style="list-style-type: initial;">
                                                    Applications of new Passports handed over to Missions will be
                                                    forwarded to the Controller of Immigration and Emigration, Sri
                                                    Lanka, who is the sole authority to issue Passports. Sri Lanka
                                                    Missions abroad are only authorized to issue Temporary Travel
                                                    Documents; Non-Machine Readable Passports (NMRP) and to make
                                                    alterations and amendments to existing travel documents.
                                                </li>
                                                <li style="list-style-type: initial;">
                                                    All incomplete applications will be returned and payment will not be
                                                    refunded.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="consular">
                                        <h2 style="color: #9e2a2b; font-weight: 700;">Diplomatic & Office Visa</h2>
                                        <div class="sub-content">
                                            <h2 class="heading-2">Consular Matters</h2>
                                            <p>Taking into consideration the evolving global circumstances and high risk
                                                associated with COVID 19, Sri Lanka High Commission will limit work and
                                                will
                                                offer the following Consular services,in order to minimize the exposure.
                                            </p>

                                            <ul style="padding: 0 2rem;">
                                                <li style="list-style-type: initial;">Issuance of Emergency Travel Document for Sri Lankan Citizens</li>
                                                <li style="list-style-type: initial;">Issuance of Certification related to death of Sri Lankan National.
                                                </li>
                                                <li style="list-style-type: initial;">Any other emergency services considered necessary</li>
                                                <li style="list-style-type: initial;">Urgent inquires regarding COVID-19 Pandemic</li>
                                            </ul>

                                            <h2 class="heading-2">Electronic Travel Authorization (ETA)</h2>

                                            <ul style="padding: 0 2rem;">
                                                <li style="list-style-type: initial;">
                                                    ETA is an official authorization for a Short Visit to Sri Lanka and
                                                    is issued electronically. The ETA is introduced with the intention
                                                    of providing an efficient, reliable and simplified service to those
                                                    who visit Sri Lanka. ETA holders will be issued a 30 day Short Visit
                                                    Visa at the port of entry in Sri Lanka. The ETA is effective from
                                                    1st of January 2012.
                                                </li>
                                                <li style="list-style-type: initial;">
                                                    The ETA is issued through an online system. No passport copies,
                                                    documents or photographs are not required. There is no requirement
                                                    to endorse the ETA on the passport
                                                </li>
                                                <li style="list-style-type: initial;">
                                                    Upon arrival, produce your passport to the immigration officer at
                                                    the port of entry to obtain necessary clearance. It is advisable to
                                                    take a copy of the ETA approval.
                                                </li>
                                                <li style="list-style-type: initial;">
                                                    Children Under the Age of 12 are exempt from the ETA processing fee.
                                                </li>
                                            </ul>

                                            <h5 style="margin-top: 1rem;">The following nationals & categories are exempt from ETA</h5>
                                            <ul style="padding: 0 2rem;">
                                                <li style="list-style-type: decimal;">The Republic of Singapore</li>
                                                <li style="list-style-type: decimal;">The Republic of Maldives</li>
                                                <li style="list-style-type: decimal;">The Republic of Seychelles</li>
                                                <li style="list-style-type: decimal;">Crew members of flights/ships</li>
                                            </ul>

                                            <!-- general advice -->
                                            <h2 class="heading-2">General Advice</h2>
                                            <ul style="padding: 0 2rem;">
                                                <li style="list-style-type: initial;">Visitors to Sri Lanka should not engage in any form of employment,
                                                    paid or unpaid, or in any trade or business other than that
                                                    specified in the visa during their period of stay.</li>
                                                <li style="list-style-type: initial;">The visa must be utilized before the date of expiry noted on the
                                                    visa.</li>
                                                <li style="list-style-type: initial;">The validity of visa is subject to entry into Sri Lanka during the
                                                    indicated entry period.</li>
                                                <li style="list-style-type: initial;">Applications for extension of all visas should be made to the
                                                    Department of Immigration of Sri Lanka.</li>
                                            </ul>

                                            <!-- student visa -->
                                            <h2 class="heading-2">Student Visa</h2>

                                            <p>Foreign Students wishing to pursue academic studies in a recognized
                                                institution in Sri Lanka should obtain a Student Visa valid up to the
                                                duration of the course. Students under 16 years of age can apply for a
                                                visa for Parents/guardians to remain in the country.</p>

                                            <ul style="padding: 0 2rem;">
                                                <li style="list-style-type: initial;">The Education Institution should apply to the Department of Immigration and Emigration for Entry Visa approval on behalf of the Foreign Student</li>
                                                <li style="list-style-type: initial;">The Department of Immigration and Emigration will then notify the nearest Sri Lanka Diplomatic Mission of the Entry Visa approvalThe Department of Immigration and Emigration will then notify the nearest Sri Lanka Diplomatic Mission of the Entry Visa approval</li>
                                                <li style="list-style-type: initial;">Foreign Student will obtain the Entry Visa endorsement in his/her Passport at the Sri Lanka Diplomatic Mission</li>
                                                <li style="list-style-type: initial;">At the port of entry in Sri Lanka, the Immigration may grant entry for a specified period.</li>
                                                <li style="list-style-type: initial;">Upon entering Sri Lanka, before the expiry of the Entry Visa endorsed at the port of entry, the passport of the Foreign Student should be referred to the Department of Immigration and Emigration for endorsement of Student Visa.</li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="consular">
                                        <h2 style="color: #9e2a2b; font-weight: 700;">Authentication of Documents</h2>
                                        <div class="sub-content">
                                            <h2 class="heading-2">Unmarried Certificate</h2>
                                            <ul style="padding: 0 2rem;">
                                                <li style="list-style-type: initial;">Letter of request</li>
                                                <li style="list-style-type: initial;">Unmarried Certificate issued in Sri Lanka (should be certified by the Consular Division of the Ministry of Foreign Affairs in Sri Lanka)
                                                </li>
                                                <li style="list-style-type: initial;">Fee: US$50/-:</li>
                                            </ul> 
                                            
                                            <h2 class="heading-2">Power of Attorney/Certification of Signature</h2>

                                            <ul style="padding: 0 2rem;">
                                                <li>Letter of Request</li>
                                                <li>The Power of Attorney document (signature certification will be done in the presence of an officer at the Mission )</li>
                                                <li>Upon arrival, produce your passport to the immigration officer at the port of entry to obtain necessary clearance. It is advisable to take a copy of the ETA approval</li>
                                            </ul>

                                            <h2 class="heading-2">OR</h2>

                                            <p>If the Power of Attorney document has been already certified by a Lawyer, then the document should be certified by the Ministry of Foreign Affairs and International Trade of Kenya prior to submitting it to the High Commission</p>

                                            <h2 class="heading-2">Fee: US$50/-</h2>

                                            <h2 class="heading-2">Proof of Residence</h2>

                                            <ul>
                                                <li>Letter of request</li>
                                                <li>Applicant’s status in Kenya (Copy of Work Permit / Dual Citizenship Certificate / Study Permit)</li>
                                                <li>Copy of the Passport</li>
                                                <li>Utility Bill in the name of the applicant</li>
                                                <li>Fee: US$30/-</li>
                                            </ul>

                                            <h2 class="heading-2">Sri Lanka Driving License</h2>

                                            <p>Please note that the applicant should submit to the Sri Lanka High Commission in Kenya a letter issued by the Department of Motor Traffic of Sri Lanka certifying the genuineness of the Sri Lanka Driving License issued to the applicant, with the authentication of the Consular Division of the Ministry of Foreign Affairs of Sri Lanka.</p>
                                            <h2 class="heading-2">Fee: US$25/- (via E-DAS)</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- .four-columns - sidebar -->
                <div class="sidebar sidebar-1 four columns">
                    <div class="widget-area clearfix ">
                        <aside class="custom">
                            <p>
                                <a class="wf_file" target="_blank" href="/static/files/Sri_Lanka_at_a_glance.pdf">
                                    <img src="/static/images/sl_glance_new2.png" alt="sl glance new2" width="220"
                                        height="40" />
                                </a>
                            </p>
                            <p>
                                <a class="wf_file" target="_blank" href="/static/files/hello-again-text-f2.pdf">
                                    <img src="/static/images/helloagainposter.jpg" alt="helloagainposter" width="220"
                                        height="40" />
                                </a>
                            </p>
                            <p>
                                <a target="_blank" href="https://www.contactsrilanka.mfa.gov.lk/">
                                    <img src="/static/images/button_Contact_srilanka.jpg" alt="button Contact srilanka"
                                        width="220" height="40" />
                                </a>
                            </p>
                            <p>
                                <a target="_blank" href="/static/files/Information_Related_to_COVID-19_-_update29.pdf">
                                    <img src="/static/images/Covid-Banner-19.jpg" alt="Covid Banner 19" width="220"
                                        height="40" />
                                </a>
                            </p>
                            <p>
                                <a target="_blank" href="https://slembassyusa.org/tracking/">
                                    <img src="/static/images/passport-status.png" alt="" width="220" height="40" />
                                </a>
                            </p>
                            <p>
                                <a target="_blank" href="https://www.pmdnews.lk/">
                                    <img src="/static/images/presidential_secretariat_new.jpg"
                                        alt="presidential secretariat new" width="222" height="43" />
                                </a>
                            </p>
                            <p>
                                <a target="_blank" href="https://www.pmoffice.gov.lk/">
                                    <img src="/static/images/prime_ministerst_new.jpg" alt="prime ministerst new"
                                        width="220" height="40" />
                                </a>
                            </p>
                            <p>
                                <a target="_blank" href="https://mfa.gov.lk/">
                                    <img src="/static/images/MFA_tab_n.jpg" alt="MFA tab n" width="220" height="40" />
                                </a>
                            </p>
                            <p>
                                <a target="_blank" href="https://www.gov.lk/index.php">
                                    <img src="/static/images/govwedlogo.jpg" alt="govwedlogo" width="220" height="40" />
                                </a>
                            </p>
                            <p>
                                <a class="wf_file" target="_blank" href="/static/files/SLNY-2021_Banner_Banner-V1.pdf">
                                    <img src="/static/images/aurudu_logo_new_black.png" alt="aurudu logo new black" />
                                </a>
                            </p>
                    </div>
                </div>
            </div>





        </div>
    </div>
    </div>
    </div>

    {% endblock %}