{% extends "base.html" %}

{% block content %}

        <!-- main content -->
        <!-- #Content -->
        <div id="Content">
            <div class="content_wrapper clearfix">

                <!-- .sections_group -->
                <div class="sections_group">

                    <div class="entry-content" itemprop="mainContentOfPage">

                        <div class="section mcb-section" style="padding-top:0px; padding-bottom:0px;">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one  valign-top clearfix" style="background-color:#FFFFFF">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_photo_box ">
                                            <div class="photo_box  without-desc">
                                                <div class="image_frame">
                                                    <div class="image_wrapper">
                                                        <!-- <div class="mask"></div> -->
                                                        <img class="scale" src="/static/images/IMG_20210430_164356.jpg.png"
                                                            alt="consular_logo_1" width="700" height="200" />

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap one  valign-top clearfix">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one-second column_visual ">
                                            <h3 style="text-align: center;">Office Hours</h3>
                                            <p align="center"><strong>Office Hours : Mon -Fri (Except for public holidays) <br> <br> 
                                                <span style="font-size: 24px;">8.30am - 4.30pm</span></strong></p>
                                            <p style="color: red; margin-top: 2rem;"> *Please note that we are closed on Saturday, Sunday and some declared holidays by the High Commission of Sri Lanka in Kenya.</p>
                                        </div>
                                        <div class="column mcb-column one-second column_contact_box ">
                                            <div class="get_in_touch">
                                                <h3>Further information can be obtained from:</h3>
                                                <div class="get_in_touch_wrapper">
                                                    <ul>
                                                        <li class="address"><span class="icon"><i
                                                                    class="icon-location"></i></span><span
                                                                class="address_wrapper">
                                                                <h3>Sri Lanka High Commission</h3>
                                                                <p>2nd Floor, West 1 - <br> Parklands Road, <br> Nairobi, Kenya <br />
                                                            </span>
                                                        </li>
                                                        <li class="phone phone-1">
                                                            <span class="icon">
                                                                <i class="icon-phone"></i></span>
                                                            <p><a href="tel:(+254) 734387267">Tel: +254734387267</a></p>
                                                        </li>
                                                    
                                                        <li class="mail">
                                                            <span class="icon"><i class="icon-mail"></i></span>
                                                            <p><a
                                                                    href="mailto:slhc.nairobi@mfa.gov.lk">Email: slhc.nairobi@mfa.gov.lk</a>
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- .four-columns - sidebar -->
                <div class="sidebar sidebar-1 four columns">
                    <div class="widget-area clearfix ">
                        <aside class="custom">
                            <p>
                                <a class="wf_file" target="_blank" href="/static/files/Sri_Lanka_at_a_glance.pdf">
                                    <img src="/static/images/sl_glance_new2.png" alt="sl glance new2" width="220"
                                        height="40" />
                                </a>
                            </p>
                            <p>
                                <a class="wf_file" target="_blank" href="/static/files/hello-again-text-f2.pdf">
                                    <img src="/static/images/helloagainposter.jpg" alt="helloagainposter" width="220"
                                        height="40" />
                                </a>
                            </p>
                            <p>
                                <a target="_blank" href="https://www.contactsrilanka.mfa.gov.lk/">
                                    <img src="/static/images/button_Contact_srilanka.jpg" alt="button Contact srilanka"
                                        width="220" height="40" />
                                </a>
                            </p>
                            <p>
                                <a target="_blank" href="/static/files/Information_Related_to_COVID-19_-_update29.pdf">
                                    <img src="/static/images/Covid-Banner-19.jpg" alt="Covid Banner 19" width="220"
                                        height="40" />
                                </a>
                            </p>
                            <p>
                                <a target="_blank" href="https://slembassyusa.org/tracking/">
                                    <img src="/static/images/passport-status.png" alt="" width="220" height="40" />
                                </a>
                            </p>
                            <p>
                                <a target="_blank" href="https://www.pmdnews.lk/">
                                    <img src="/static/images/presidential_secretariat_new.jpg"
                                        alt="presidential secretariat new" width="222" height="43" />
                                </a>
                            </p>
                            <p>
                                <a target="_blank" href="https://www.pmoffice.gov.lk/">
                                    <img src="/static/images/prime_ministerst_new.jpg" alt="prime ministerst new"
                                        width="220" height="40" />
                                </a>
                            </p>
                            <p>
                                <a target="_blank" href="https://mfa.gov.lk/">
                                    <img src="/static/images/MFA_tab_n.jpg" alt="MFA tab n" width="220" height="40" />
                                </a>
                            </p>
                            <p>
                                <a target="_blank" href="https://www.gov.lk/index.php">
                                    <img src="/static/images/govwedlogo.jpg" alt="govwedlogo" width="220" height="40" />
                                </a>
                            </p>
                            <p>
                                <a class="wf_file" target="_blank" href="/static/files/SLNY-2021_Banner_Banner-V1.pdf">
                                    <img src="/static/images/aurudu_logo_new_black.png" alt="aurudu logo new black" />
                                </a>
                            </p>
                    </div>
                </div>
            </div>





        </div>
    </div>
    </div>
    </div>


{% endblock %}