{% extends "base.html" %}

{% block content %}

    <!-- main content -->
    <div id="Content">
        <div class="content_wrapper clearfix">
    
            <!-- .sections_group -->
            <div class="sections_group">
    
                <div class="entry-content" itemprop="mainContentOfPage">
    
                    <div class="section the_content has_content">
                        <div class="section_wrapper">
                            <div class="the_content_wrapper">
                                <section class="content">
                                    <h2 class="heading">Sri Lanka – Kenya Bilateral Relations</h2>
                                    <p>Diplomatic relations between Sri Lanka and Kenya dates back to the year 1970. Both countries are members of the Commonwealth, the Non-Aligned Movement (NAM), IORA and G77. The High Commission is accredited, Uganda, Rwanda, Tanzania, Republic of Congo and the Democratic Republic of Congo. There are approximately 400-500 Sri Lankans living and working in Kenya.</p>
                                    <p>At the political and diplomatic level, Sri Lanka and Kenya have been maintaining close and cordial links over the years. The two countries are rooted by shared values, aspirations, and common interest to overcome the challenges of development. There have been bilateral visits at the highest levels.</p>
                                </section>
                                <section class="content">
                                    <h2 class="heading">Sri Lanka-Kenya Trade Relations</h2>
                                    <p>In 2017, Sri Lanka exported to Kenya items such as knitted/crocheted fabrics, cartons, boxes, cases, bags, packing containers of paper, paperboards and cellulous, electrical transformers and static converters, etc.</p>
                                    <p>The total value of Sri Lanka’s exports to Kenya (January to December 2017) was at US$18.48 million.</p>
                                    <p>Sri Lanka imports a considerable amount of leather, iron and steel from Kenya.</p>
                                    <p>The total value of Sri Lanka’s imports from Kenya (January to December 2017) was at US$4.90 million.</p>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
    
    
            </div>

        </div>
    </div>
        

    {% endblock %}